.jumbotron {
            margin: 50px auto; /* Ajustez les marges selon vos besoins */
            padding: 25px;
            border-radius: 15px; /* Bords arrondis */
            overflow: hidden; /* Pour s'assurer que les bords arrondis sont appliqués correctement */
            align-items: center;
            
        }


.jumbotron img {
            width: 30%;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            display: block;
            margin: 0 auto; /* Centre l'image à l'intérieur de sa colonne */
        }
       
.navbar {

 background-color: #f8f9fa;
 border-color: #A855F7;

 border-color: #A855F7;

}

.nav-link {
 color: #696969 ;

}
.nav-link:hover {
 color: #A855F7;
}

.navbar-brand {
    color: #696969 ;
   }

.navbar-brand:hover{
    color:#A855F7 ;
   }


 
.cv{
    align-items: center;
    padding: 20 auto;}


a:hover{
    color: #A855F7;
}
.comp{
    background-color: #FCE7F3;
    text-decoration: none;
    border-radius: 25px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
}
.comp:hover{
    color: #696969;
}

.titre{

    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.here{
    color: #A855F7;
    font-style: bold;
}

a{
    color: #696969;

}


.link{
    color: #A855F7;
    text-decoration: none;

}

.get-started-btn {
  margin-left: 22px;
  color: #696969;
  border-color: #A855F7;
  border-radius: 50px;
  border-width: 0.3cm;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
}

.btn-outline-success:hover, .btn-outline-success:focus, .btn-outline-success:active, .btn-outline-success.active, .open>.dropdown-toggle.btn-outline-success{
    color: white;
    background-color: #A855F7;
    border-color: #A855F7; /*set the color you want here*/
    
}
.btn-outline-success{
    border-color: #A855F7;
     color: #A855F7;
}

.img-fluid-small {
    width: 40%;
    transition: width 0.3s ease-in-out;
}
.img-fluid-large {
    width: 80%;
}

.card-img-top1{
    width: 60%;
    padding: 0.6cm;
    align-items: center;
}
.card-img-top2{
    width: 75%;
    padding: 0.6cm;
    align-items: center;
}
.card-img-top3{
    width: 55%;
    padding: 0.6cm;
    align-items: center;
}
.card{
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    padding: 1cm;
    height: 300px;
}

#titre_article{
    color: #A855F7
}

#titre_article{
    color: #A855F7
}
#bar{
    color: #A855F7
}