.jumbotron {
            margin: 50px auto; /* Ajustez les marges selon vos besoins */
            padding: 25px;
            border-radius: 15px; /* Bords arrondis */
            overflow: hidden; /* Pour s'assurer que les bords arrondis sont appliqués correctement */
            align-items: center;
            
        }


.jumbotron img {
            width: 30%;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            display: block;
            margin: 0 auto; /* Centre l'image à l'intérieur de sa colonne */
        }
       
.navbar {

 background-color: #f8f9fa;
 border-color: #F99C4B;
 
}

.nav-link {
 color: #696969 ;

}
.nav-link:hover {
 color: #F99C4B;
}

.navbar-brand {
    color: #696969 ;
   }

.navbar-brand:hover{
    color:#F99C4B ;
   }


 
.cv{
    align-items: center;
    padding: 20 auto;}


a:hover{
    color: #F99C4B;
}
.comp{
    background-color: #FDDCC0;
    text-decoration: none;
    border-radius: 25px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
}
.comp:hover{
    color: #696969;
}

.titre{

    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.here{
    color: #F99C4B;
    font-style: bold;
}

a{
    color: #696969;

}


.link{
    color: #F99C4B;
    text-decoration: none;

}

.get-started-btn {
  margin-left: 22px;
  color: #696969;
  border-color: #F99C4B;
  border-radius: 50px;
  border-width: 0.3cm;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
}

.btn-outline-success:hover, .btn-outline-success:focus, .btn-outline-success:active, .btn-outline-success.active, .open>.dropdown-toggle.btn-outline-success{
    color: white;
    background-color: #F99C4B;
    border-color: #F99C4B; /*set the color you want here*/
    
}
.btn-outline-success{
    border-color: #F99C4B;
     color: #F99C4B;
}

.img-fluid-small {
    width: 40%;
    transition: width 0.3s ease-in-out;
}
.img-fluid-large {
    width: 80%;
}